/* 
.custom-calendar-containerr {
  max-height: 700px;
  overflow-y: auto;
} */


/* Set a max height for popover and make it scrollable */
.fc-popover-body {
  max-height: 250px;     /* Or adjust as needed */
  overflow-y: auto;
  padding-right: 4px;    /* Prevent scroll overlap */
}

/* Optional: Remove horizontal scrollbar */
.fc-popover-body::-webkit-scrollbar {
  width: 6px;
}
.fc-popover-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
